# Dependencies
node_modules/
web/node_modules/
contracts/cache/
contracts/out/
contracts/broadcast/

# Env / secrets
.env
.env.local
web/.env.local
contracts/.env
*.pem

# OS / IDE
.DS_Store
.idea/
.vscode/

# Next
web/.next/
web/out/

*.pdf
.cursor/
